{% extends "base.html" %}
{% block title %}{{food.obj.name}}{% endblock %}

{% block content %}
    <div class="row featurette">
        <div class="col-md-4">
            <img src="{{food.obj.pic}}" style="width: 350px; height: 320px;" class="thumbnail"/>
        </div>
      
        <div class="col-md-8">
          <h2 class="featurette-heading">
                {{food.obj.name}}  &yen;{{food.obj.price}}
                <button type="button" class="btn btn-info">
                  <span class="glyphicon glyphicon-fire"></span> 推荐 ({{food.obj.commends}})
                </button>
                
                <button type="button" class="btn btn-info">
                  <span class="glyphicon glyphicon-heart"></span> 收藏 ({{food.obj.collects}})
                </button>                   
          </h2>
          <hr class="featurette-divider">
          <div class="panel panel-default">
              <div class="panel-heading">推荐人 {%if food.obj.create_user%}{{food.obj.create_user}} {%else%} 匿名人士 {%endif%}评语:</div>
              <div class="panel-body">
               <blockquote>{{food.obj.intro}}</blockquote>
               <p><a class="btn btn-danger btn-lg pull-right" role="button">不满意?换一个!</a></p>   
              </div>
          </div>
        </div>

    </div>
    <h2 class="featurette-heading">美食地址:</h2><hr class="featurette-divider">
    
    {%if food.obj.lat > '0' and  food.obj.lon > '0' %}
        {%include 'map/mapPreview.html'%}
    {%else%}
        暂无地图!
    {%endif%}
{% endblock %}