{% extends "base.html" %}
{% block title %}{{food.obj.name}}{% endblock %}

{% block content %}

<div class="container">
    <div class="row featurette">
        <div class="col-md-5">
            <img src="{{food.obj.pic}}"  class="thumbnail"/>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">
                {{food.obj.name}}  &yen;{{food.obj.price}}
                <button type="button" class="btn btn-info">
                  <span class="glyphicon glyphicon-star"></span> 推荐 ({{food.obj.commends}})
                </button>
                
                <button type="button" class="btn btn-info">
                  <span class="glyphicon glyphicon-heart"></span> 收藏 ({{food.obj.collects}})
                </button>                   
                
          </h2>
          
          <hr class="featurette-divider">
          <p class="lead">{{food.obj.intro}}</p>
          
        </div>
    </div>        
</div>


{% endblock %}