{% extends "base.html" %}
{% block title %}主页{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="starter-template">
            <h1> Hello iCokou </h1>
            <p class="lead">开启美味新世界. <a class="btn btn-success" href="{%url 'food:AddFood'%}" role="button">分享美食</a></p>
             
        </div>
    </div><!-- /.container -->
    <div class="container marketing">
        <div class="row">
            {%for foodObj in foodObjList.obj%}
                <div class="col-lg-4">
                    <a href="{%url 'food:ViewFood'  foodObj.id %}" class="thumbnail">
                        <img src="{{foodObj.pic}}" style="width: 350px; height: 350px;" class="img" data-src="holder.js/350x350" alt="350x350">
                    </a>
                    <h2>{{foodObj.name}}</h2>
                    <p>{{foodObj.intro|truncatechars:26}}</p>
                    <p><a class="btn btn-default" href="{%url 'food:ViewFood'  foodObj.id %}" role="button">查看详细 »</a></p>
                </div>
            {%endfor%}
        </div>
    </div>    
{% endblock %}