{% extends "base.html" %}
{% block title %}主页{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="starter-template">
            <h1> Hello iCokou </h1>
            <p class="lead">开启美味新世界. <a class="btn btn-info" href="{%url 'food:AddFood'%}" role="button">分享美食</a> </p> 
             
        </div>
    </div><!-- /.container -->
    
        <div class="row">
            {%for foodObj in foodObjList.obj%}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                       <a href="{%url 'food:ViewFood'  foodObj.id %}" >
                                        <img src="{{foodObj.pic}}?imageView2/1/w/350/h/350" style="width: 350px; height: 350px;" class="img" data-src="holder.js/350x350" alt="350x350">
                                    </a>
                      <div class="caption">
                        <h3>{{foodObj.name}} <span class="pull-right">&yen; {{foodObj.price}}</span></h3>
                        
                        <p class="pull-right"><a class="btn btn-default" href="{%url 'food:ViewFood'  foodObj.id %}" role="button">查看详细 »</a></p>
                        <br/><br/>
                      </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    
{% endblock %}