<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>icokou 爱可口 {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/signin.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/expand.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
            <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->        
        <style>

            
        </style>
    </head>
<body>

    <!-- 头部 --> 
    {% block header %}
    {%include 'navbar.html'%}
    {% endblock %}
<div class="container">
    <!-- 内容 --> 
    {% block content %}{% endblock %}
</div>    
    <!-- 页脚 --> 
    {% block footer %}
    {%include 'footer.html'%}
    {% endblock %}

    {% if debug %} 
    <!-- 测试环境下不嵌入 Google Analytics --> 
    {% else %}
    {% endif %}

</body>
</html>