<!-- FOOTER -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <p>Develop and Designed By <a href="http://iaxi.net/" target="_blank">@alan</a>.</p>
        <p>Copyright &copy; 2014 <a href="http://icokou.com/">爱可口 icokou </a>All Rights Reserved
      </div>
    </footer>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}js/geo.js"></script>

{% include 'googleAnalytics.html'%}
{% include 'qqAnalytics.html'%}

<script>
    //获取客户端经纬坐标
    var latlon = getLocation();
</script>
