
<!-- 固定菜单 -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">#</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">爱可口</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">主页</a></li>
        <li><a href="#food">美食大全</a></li>
        <li><a href="#group">兴趣组</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#my">我的账户</a></li>
        <li><a href="#set">设置</a></li>
        <li class="active"><a href="./">私信(0)</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>