{% block header %}
<!-- 固定菜单 -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">#</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{STATIC_URL}}img/logo.png"/></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">主页</a></li>
        <li><a href="#food">美食大全</a></li>
        <li><a href="#group">兴趣组</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {%if user.uuid%}
        <li><a href="#my">我的账户</a></li>
        <li><a href="#">私信 <span class="badge">42</span></a></li>
        <li><a href="{%url 'passport:Logout' %}">注销</a></li>
        {%else%}
            <li><a href="{%url 'passport:Login' %}">登录</a></li>
            <li><a href="{%url 'passport:Reg' %}">注册</a></li>
        {%endif%}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

{% endblock %}