<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=zh-CN"></script>  
<div id="mapholder" class="thumbnail"></div>
<script type="text/javascript">  

      lat = {{food.obj.lat}};//position.coords.latitude;
      lon = {{food.obj.lng}};//position.coords.longitude;
      latlon = new google.maps.LatLng(lat, lon);
      mapholder = document.getElementById('mapholder');
      mapholder.style.height='250px';
      mapholder.style.width='280px';

      var myOptions = {
        center:latlon,zoom:14,
        mapTypeId:google.maps.MapTypeId.ROADMAP,
        mapTypeControl:false,
        navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
      };
      var map = new google.maps.Map(document.getElementById("mapholder"),myOptions);
      var marker = new google.maps.Marker({position:latlon,map:map,title:"You are here!"});
</script>  

